/*.class1 .class2 {
 Selects elements of class2 whose parents are class1 
}
.class1.class2 {
 Selects elements of BOTH class1 and class2. 
}
.class1, .class2 {
 Selects elements of EITHER class1 and class2. 
}
p:nth-child(3) {
 Selects every <p> that is the 3rd one of its parent 
*/

/*.test{
	background-color:blue;
}*/
body{
	font-family:Lato;
}

/*Navigation Bar*/
#sidebar-name{
	font-size: 2.5em;
	font-weight: bold;
	width:300px;

	margin:30px;
	margin-left:5%;
}
nav ul {
    list-style-type: none;
   
    position:absolute;
    right:10px;
    top:10px;
    margin:30px;

}
.site-navigation{

}
.site-navigation li {
    display: inline-block;
}
.site-navigation li a {
    width: 10px;
    padding: 0.8em;
    font-weight: 500;
    font-size: 18px;
}
.site-navigation li a[href] {
    color: black;
    transition: .4s all;
}
.site-navigation li a[href]:hover {
    border-bottom: solid .2em black;
    border-width: 2px;
}
ul li a[href] {
    text-decoration: none;
    border-bottom: solid .2em transparent;
    border-width: 2px;
    transition: .4s all;
}


/*ITEM VIEW*/
/*Project Title*/
#item-project-title{
/*	font-size: 2em;*/
	margin:30px;
	margin-bottom:0px;
	text-align: center;
}

/*Unslider*/
.item-banner { 
	position: relative; 
	overflow: auto; 
	width:100%;
	text-align: center;
}
.item-banner li { 
	list-style: none;
}
.item-banner ul{
	padding-left:0px;
}
.item-banner ul li { 
	float: left;  
	height:510px;
}
/*.item-banner {
	position: relative;
	width: 100%;
	overflow: auto;
	
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	
	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	
	background: #5b4d3d;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
	.item-banner ul {
		list-style: none;
		width: 300%;
	}
	.item-banner ul li {
		display: block;
		float: left;
		width: 33%;
		padding: 160px 0 110px;
		
		min-height: 350px;
		
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		-ms-background-size: 100% 100%;
		background-size: 100% 100%;
		
		box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
	}*/

/*Unslider Dots*/

.item-banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}
.item-banner .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
.item-banner .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	
	text-indent: -999em;
	
	border: 2px solid #fff;
	border-radius: 6px;
	
	cursor: pointer;
	opacity: .4;
	
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.item-banner .dots li.active {
	background: #fff;
	opacity: 1;
}
.item-banner ol{
	padding-left:0px;
}

/*Images*/
.item-image {
	height:90%;
	padding:10px;
	background-color:black;
	border-radius: 10px;
}

/*Arrow Key Prompt*/
#item-use-arrows{
	text-align: center;
	font-size: 12px;
	font-style:italic;
}

/*Description*/ 
#item-description-header{
	text-align: center;
}

#item-desciption-text{
	width:80%;
	margin:0 auto;
	font-size: 16px;
	line-height: 32px;
	margin-bottom:30px;
}
